server:
  port: 8080

spring:
  application:
    name: bikestore-async
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin123
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 2000
          max-attempts: 3
          multiplier: 2.0

logging:
  level:
    com.bikestore: INFO
    org.springframework.amqp: DEBUG
